body {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 18pt;
    color: crimson;
}

h3 {
    font-size: 16pt;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

a:link,
a:visited {
    color: red;
}

a:hover,
a:active {
    color: rgb(0, 128, 128);
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid white;
    padding: 8px;

}

th {
    text-align: center;
    font-variant: small-caps ;
}

tr:nth-child(even) {
    background-color: rgb(80%, 80%, 90%);
}

tr:hover {
    background-color:#1c780c;
}

li {
    list-style-type: lower-roman;
}